seccionesBackup.json

# Python 
ml/.venv/
ml/uv.lock
ml/data/raw/
ml/data/processed/
ml/models/

ml/json/

# Jupyter
ml/notebooks/.ipynb_checkpoints/


# Jupyter
docs/*.docs


pages/CyberRiskV0.html
pages/CyberRiskV1.html

